@import "reset.css";
@import "../Fonts/vazirmatn-master/Vazirmatn-font-face.css";

html {
    font-size: 100%;
    direction: rtl;
}

body {
    /*font-family: Vazirmatn, sans-serif;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

/*#root{*/
/*    font-family: Vazirmatn, sans-serif;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
/*}*/
.login-main {
    font-family: Vazirmatn, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login-container {
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    height: 70%;
    background-color: #201a31;
}

.login-section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.login-right .login-header {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.login-right form {
    width: 100%;
}

.login-right form .form-group {
    /*width: 80%;*/
    margin: 20px auto;
    background-color: #666;
    padding: 18px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-right form .form-group input {
    border: none;
    background-color: inherit;
    outline: none;
    color: white;
    direction: ltr;
    width: 85%;
}

.login-right form .form-group svg {
    color: #0df5e3;
}

.login-right form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 8px 0;

    width: 100%;
    margin: 30px auto;
    font-size: 1.5em;
    font-family: Vazirmatn, "sans-serif";
    cursor: pointer;
}

.login-form-success:hover {
    background-color: #3becde;
}
.login-form-success{
    color: #201a31;
    background-color: #0df5e3;
    border: none;
}
.login-form-error {
    background-color: inherit;
    color: white;
    border: 1px solid #666;
}

.login-left {
    /*margin-right: 20px;*/
    text-align: center;
}

.login-right p {
    margin-top: 20px;
    font-size: 1.1em;
    color: white;
    text-align: center;
}

.login-right p a {
    color: #0df5e3;
}